name: CI
on: [workflow_dispatch, push]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Theos
        uses: Randomblock1/theos-action@v1

      - name: Build Tweak
        run: |
          export THEOS_DEVICE_IP=127.0.0.1
          make package FINALPACKAGE=1 ARCHS="arm64"
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: FBAutoTool-Package
          path: packages/*.deb
